* {
    border: 1px dashed red;
    min-height: 10px;
}

body {
    background: grey;
    margin: 0;
}

div{
    box-sizing: border-box;
}

header {
    background: white;
}

header h1{
    margin: 0;
}

div.post {
    background: white;
    margin-top: 20px;
} 

div.post img{
    width: 100%;
}

div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
    background: green;
}

div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    background: yellow;
    text-align: right;
    padding: 10px;
    color: grey;
}

div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}